*{
   margin: 0;
   padding: 0;
   /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
   font-family: 'Roboto', sans-serif;
}
svg {
   fill:white;
}
.nav{
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   position: fixed;
   width:100%;
}
.left-nav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 30px;
}
.nav-icon{
   width:171px;
   height:24px;
   margin-left: 20px;
}
.landing-page {
   background-image: url('https://cdn.fstoppers.com/styles/xlarge/s3/photos/15966/08/08/1f1b80d8879b6b5a0c44519725fd8a98.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   /* background-image: linear-gradient(rgba(0,0,0,.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%); */
}
.right-nav {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 30px;
}
.nav-sign-in {
   text-decoration: none;
   text-align: center;
   background-color: #4684ef;
   color:white;
   border-radius: 1px;
   font-size: 13px;
   padding: 5px 10px;
   font-weight: 600;
   /* padding: 0; */
   cursor: pointer;
}
.hamburger {
   fill:white;
   cursor: pointer;
}
.heading,.introPara{
   color:white;
   padding-left: 100px;

}
.heading {
   padding-top: 200px;
   font-weight: 400;
   font-size: 45px;
}
.introPara {
   padding-top: 8px;
   font-size: 24px;
}
.a{
   width:80px;
   height:80px;
   border-radius: 50%;
   border: 2px white solid;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.a:hover{
   border: 2px white solid;
   background: rgba(255, 255, 255, 0.2);
}
.Vp{
   color: white;
}
.video-icon,.message-icon{
   fill:white;
}
.videoAndMessage {
   display: flex;
   margin-top: 80px;
   margin-left: 100px;
}
.message {
   margin-left: 60px;
}
.Photo {
   margin-top: 180px;
   display: flex;
   justify-content: flex-end;
}
.photoBy {
   color: white;
   padding: 30px;
}
.download-Nav {
   background-color: black;
   padding: 20px;
   box-shadow: 0 10px 20px grey;
   display: flex;
   /* justify-content: center; */
   align-items: center;
}
.download,.download {
   color:white;
   padding-left: 70px;
}
.linkToDownload {
   color: white;
   text-decoration: none;
   padding-left: 8px;
}
.android-icon,.iOS-icon,.chrome-icon {
   padding-left: 20px;
}
.forGif {
   height: 500px;
   width:300px;
   background-image: url('https://ssl.gstatic.com/s2/oz/images/hangouts/hangouts_concert_animation_250.gif');
   background-repeat: no-repeat;
}
.meassageContainer,.videoContainer {
   display: flex;
}
.gifContainer {
   padding: 100px;
}
.detailsOfMessage,.detailsOfVideo {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.detailsOfMessage ul,.detailsOfVideo ul {
   list-style-type: none;
}
.detailsOfMessage li,.detailsOfVideo li {
   padding: 16px 0;
   font-size: 18px;
   color:#757575;
}
.messageHeading,.videoHeading {
   font-size: 34px;
   font-weight: 400;
   color:#0f9d58;
   padding: 16px 0;
}
.gifContainer img {
   padding: 24px;
   background-color: black;
   border-radius: 16px;
}
.videoContainer .gifContainer {
   padding: 70px;
}
.videoContainer {
   background-color: #f5f5f5;
}
.detailsOfVideo {
   padding-left: 60px;
}
.directToTopDown {
   width: 56px;
   height: 56px;
   background-color: #0f9d58;
   border-radius: 50%;
   position: fixed;
   top:755px;
   right: 46px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.directToTopDown span {
   height: 24px;
   width: 24px;
   background-image: url('https://ssl.gstatic.com/images/icons/material/system/1x/keyboard_arrow_down_white_24dp.png');
}
.sidebarcontainer {
   /* height: 100vh; */
   width: 100vw;
}
.sidebar {
   width:280px;
   height: 100%;
   background-color: white;
   position: fixed;
   top: 0;
   /* padding: 10px 0; */
   /* background-color: #4684ef; */
}
.sidebar-icon {
   height: 32px;
   width: 32px;
   /* margin: 0 22px 0 18px; */
   background-image: url('https://ssl.gstatic.com/images/icons/material/product/1x/hangouts_32dp.png');
}
.sidebaritem-1,.sidebaritem-2,.sidebaritem-3,.sidebaritem-4,.sidebaritem-5,.sidebaritem-6 {
   display: flex;
   align-items: center;
   padding-left: 22px ;
   padding-top: 25px; 
}
.sidebaritem-1 h3{
   padding-left: 18px;
   font-size: 20px;
   font-weight: 400;
}
.sidebaritem-3 p,.sidebaritem-4 p,.sidebaritem-5 p {
   padding-left: 35px;
   font-size: 14px;
   font-weight: 700;
}
.sidebaritem-6 a{
   font-size: 12px;
   text-decoration: none;
   color:rgb(157 157 157);
}
.sidebaritem-6 a:hover{
   color:#4684ef;
}
.sidebaritem-6 span{
   font-size: 12px;
   margin-left: 4px;
   margin-right: 4px;
   color:rgb(157 157 157);
}
.sidebarIcon{
   fill:rgba(0,0,0,.54);
}