* {
  box-sizing: border-box;
}

.login {
  display: flex;
  background-color: rgb(180, 215, 245);
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form {
  padding: 3rem;
  background-color: white;
  width: 40%;
}

.login-cred {
  margin-bottom: 3rem;
  color: rgb(5, 96, 42);
}

.login-cred button {
  background-color: rgb(8, 86, 154);
  width: 12rem;
  height: 2.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  margin-right: 3rem;
  border: 0px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons p {
  padding-top: 1rem;
  padding-right: 2rem;
  font-weight: bold;
}


.google-button>button {
  border: 1px solid blue !important;
  background-color: blue !important;
  width: 6rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem !important;
}

.google-button>button div {
  display: none !important;
}

.google-button>button>span {
  color: white;
  font-weight: bold !important;
  font-size: 1rem;
  padding: 0px !important;
}